.hidden {
    display: none;
}
#input {
    position: relative;
    
}
.input {
    position: absolute;
    top: 10px;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
#input-values, #max-values {
    margin-top: 50px;  
}
#js-results-list {
    list-style-type: none;
}

