.hidden {
    display: none;
}
#input {
    position: relative;
    
}
.input {
    position: absolute;
    top: 10px;
   
    padding-bottom: 25px;
    margin-bottom: 15px;
}
select {
    width: 25%;

}
#max-values {
    margin-top: 50px;  
}
#js-results-list {
    list-style-type: none;
}

